@import "tailwindcss";

@theme inline {
  --color-text: #011d16;
  --color-background: #ecfef8;
  --color-primary: #17f3b5;
  --color-secondary: #d282f9;
  --color-accent: #f544bd;
  --color-mint: #ecfef8;
}


html{
  scroll-behavior: smooth;
}

@layer components {

}